#bigger {
    width: 900px;
    text-align: center;
    font-size: 60px;
    line-height: 1;
}

#bigger b {
    display: block;
    font-size: 245px;
    line-height: 245px;
}

#bigger p{
	margin-top: 100px;
}

#bigger .thoughts {
    font-size: 90px;
    line-height: 150px;
}


/*---------------------------------------------------- INICIAN LAS CLASES ----------*/


.big-data{
	background-image: url('../images/elephant.fw.png');
	background-repeat: no-repeat;
	background-color: #EBEBEB;
	border: solid 2px #999999;
	border-radius: 5px;
	opacity: 0;
}

.big-image{
	height: 600px; 
	width: 600px;
}

.center{
	text-align: center;
}

.cloud{
	background-image: url('../images/cloud.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px;
	border-radius: 8px;
	height: 301px;
	padding-left: 30px;
	padding-top: 50px;

}

.back-cloud{
	background-color: #EBEBEB;
	border: solid 2px #999999;
	border-radius: 5px;
	opacity: 0;
}

.font-mini{
	font-size: 15px;
}

.font-small{
	font-size: 25px;
}

.glass{
	background-image: url('../images/glass.png');
	background-size: 700px;
	background-repeat: no-repeat;
	border-radius: 5px;
	height: 300px;
	padding-top: 20px;
    width: 300px;
}

.medium-image{
	height: 400px;
	width: 400px;
}

.overview-custom{
	background-color: rgba(0,0,0,.8);
	border-radius: 100%;
}

.cuestion-text{
	font-size: 100px;
}

.margin-cloud-computing{
	margin-top:60px; 
}

.small-image{
	height: 250px;
	width: 250px;
}

.tablet{
	background-image: url('../images/tablet.png');
	background-size: 900px;
	background-repeat: no-repeat;
	height: 900px;
	padding-top: 20px;
    width: 900px;
}

.white{
	color: #EEE;
	text-shadow: 0px 0px 7px #FFF;
}



